<a href="https://colab.research.google.com/github/As2909/Cognifyz_Technologies/blob/main/Task_2_Restaurant_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
restaurant_df = pd.read_csv("/content/Dataset.csv")
restaurant_df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [ ]:
# check the no. of rows and columns
restaurant_df.shape

(9551, 21)

In [ ]:
restaurant_df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [ ]:
restaurant_df[["Restaurant Name", "Cuisines", "Price range", "City"]].isnull().sum()

Restaurant Name    0
Cuisines           9
Price range        0
City               0
dtype: int64

In [ ]:
# Restaurant Cuisines column null values fill with mode function
restaurant_df["Cuisines"].fillna(restaurant_df["Cuisines"].mode()[0], inplace=True)
restaurant_df["Cuisines"].isnull().sum()

0

In [ ]:
restaurant_df["Restaurant Name"].nunique()

7446

In [ ]:
restaurant_df["Price range"].value_counts()

Price range
1    4444
2    3113
3    1408
4     586
Name: count, dtype: int64

In [ ]:
restaurant_df["City"].value_counts()

City
New Delhi           5473
Gurgaon             1118
Noida               1080
Faridabad            251
Ghaziabad             25
                    ...
Panchkula              1
Mc Millan              1
Mayfield               1
Macedon                1
Vineland Station       1
Name: count, Length: 141, dtype: int64

In [ ]:
restaurant_df["City"].unique()

array(['Makati City', 'Mandaluyong City', 'Pasay City', 'Pasig City',
       'Quezon City', 'San Juan City', 'Santa Rosa', 'Tagaytay City',
       'Taguig City', 'Bras�_lia', 'Rio de Janeiro', 'S��o Paulo',
       'Albany', 'Armidale', 'Athens', 'Augusta', 'Balingup',
       'Beechworth', 'Boise', 'Cedar Rapids/Iowa City', 'Chatham-Kent',
       'Clatskanie', 'Cochrane', 'Columbus', 'Consort', 'Dalton',
       'Davenport', 'Des Moines', 'Dicky Beach', 'Dubuque',
       'East Ballina', 'Fernley', 'Flaxton', 'Forrest', 'Gainesville',
       'Hepburn Springs', 'Huskisson', 'Inverloch', 'Lakes Entrance',
       'Lakeview', 'Lincoln', 'Lorn', 'Macedon', 'Macon', 'Mayfield',
       'Mc Millan', 'Middleton Beach', 'Miller', 'Monroe', 'Montville',
       'Ojo Caliente', 'Orlando', 'Palm Cove', 'Paynesville', 'Penola',
       'Pensacola', 'Phillip Island', 'Pocatello', 'Potrero', 'Princeton',
       'Rest of Hawaii', 'Savannah', 'Singapore', 'Sioux City',
       'Tampa Bay', 'Tanunda', 'Trentham East', 'Valdosta', 'Vernonia',
       'Victor Harbor', 'Vineland Station', 'Waterloo', 'Weirton',
       'Winchester Bay', 'Yorkton', 'Abu Dhabi', 'Dubai', 'Sharjah',
       'Agra', 'Ahmedabad', 'Allahabad', 'Amritsar', 'Aurangabad',
       'Bangalore', 'Bhopal', 'Bhubaneshwar', 'Chandigarh', 'Chennai',
       'Coimbatore', 'Dehradun', 'Faridabad', 'Ghaziabad', 'Goa',
       'Gurgaon', 'Guwahati', 'Hyderabad', 'Indore', 'Jaipur', 'Kanpur',
       'Kochi', 'Kolkata', 'Lucknow', 'Ludhiana', 'Mangalore', 'Mohali',
       'Mumbai', 'Mysore', 'Nagpur', 'Nashik', 'New Delhi', 'Noida',
       'Panchkula', 'Patna', 'Puducherry', 'Pune', 'Ranchi',
       'Secunderabad', 'Surat', 'Vadodara', 'Varanasi', 'Vizag',
       'Bandung', 'Bogor', 'Jakarta', 'Tangerang', 'Auckland',
       'Wellington City', 'Birmingham', 'Edinburgh', 'London',
       'Manchester', 'Doha', 'Cape Town', 'Inner City', 'Johannesburg',
       'Pretoria', 'Randburg', 'Sandton', 'Colombo', 'Ankara',
       '��stanbul'], dtype=object)

In [ ]:

restaurant_df["City"].nunique()

141

In [ ]:
restaurant_df["Cuisines"].nunique()

1825

In [ ]:

restaurant_df["Cuisines"].unique()

array(['French, Japanese, Desserts', 'Japanese',
       'Seafood, Asian, Filipino, Indian', ..., 'Burger, Izgara',
       'World Cuisine, Patisserie, Cafe', 'Italian, World Cuisine'],
      dtype=object)

Convert the categorical columns in numerical columns

In [ ]:
# Label Encoder

label_encoders = {}

categorical_columns = ["Cuisines", "Price range", "City"]

for column in categorical_columns:
  encoder = LabelEncoder()
  restaurant_df[column] = encoder.fit_transform(restaurant_df[column])
  label_encoders[column] = encoder

restaurant_df[categorical_columns].head()

   Cuisines  Price range  City
0       920            2    73
1      1111            2    73
2      1671            3    75
3      1126            3    75
4      1122            3    75

Define the Recommendation System

In [ ]:
def restaurant_recommendation(cuisine, price_range, city):
  # Filter the dataset based on city and price range
  filtered_df = restaurant_df[(restaurant_df["Price range"] == price_range) & (restaurant_df["City"] == city)]
  if filtered_df.empty:
    print("No restaurants found for the given criteria.")
    return

  # Apply cosine similarity based on the cuisine preference
  filtered_df["similarity"] = cosine_similarity(
      np.array(filtered_df["Cuisines"]).reshape(-1, 1),
      np.array([cuisine]).reshape(-1, 1)
      ).flatten()

  # Sort the restaurants based on similarity score
  filtered_df = filtered_df.sort_values(by="similarity", ascending=False)

  # Select the top 5 restaurants
  top_restaurants = filtered_df["Restaurant Name"].head(5)

  return top_restaurants

Get User input

In [ ]:
# Get the user desired cuisine, price_range and city
user = {}
user["Cuisines"] = input("Enter Cuisine: ")
user["Price range"]= int(input("Enter Price Range (1-4): "))
user["City"] = input("Enter City: ")
print(user)

Enter Cuisine: French
Enter Price Range (1-4): 3
Enter City: Makati City
{'Cuisines': 'French', 'Price range': 3, 'City': 'Makati City'}

In [ ]:
# Check if user inputs are valid
if user["Cuisines"] not in label_encoders['Cuisines'].classes_:
    print(f"Error: '{user['Cuisines']}' is not a valid cuisine. Please enter a valid cuisine.")

elif user["City"] not in label_encoders['City'].classes_:
    print(f"Error: '{user['City']}' is not a valid city. Please enter a valid city.")

else:
  # If user inputs valid apply the label_encoder on user input
    encoding_input = [label_encoders[column].transform([user[column]])[0] for column in categorical_columns]
    print(encoding_input)

[916, 2, 73]

**Print the recommended Restaurants**

In [ ]:
# Get the recommended restaurants for user
recommendations = restaurant_recommendation(encoding_input[0], encoding_input[1], encoding_input[2])
if recommendations is not None:
  print("Recommended Restaurants:")
  print(recommendations)

Recommended Restaurants:
0    Le Petit Souffle
1    Izakaya Kikufuji
Name: Restaurant Name, dtype: object

<ipython-input-15-38e43fdc8b27>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["similarity"] = cosine_similarity(